<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webshop</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P3_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <div class="topBar"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Pics/logo_2016.png" class="logo"></a>

                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon bg-white"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between moveMenu">
                    <ul class="navbar-nav flex-grow-1 navBarPlacement">
                        <li class="nav-item navBarText">
                            <a class="nav-link text-white" id="StockSite" asp-controller="Admin" asp-action="Stock">Lager oversigt</a>
                        </li>
                        <li class="nav-item navBarText">
                            <a class="nav-link text-white" id="AddItemModelSite" asp-area="" asp-controller="Admin" asp-action="AddItemModel">Tilføj vare</a>
                        </li>
                        <li class="nav-item navBarText">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="PackViewModel">Rediger pakker</a>
                        </li>
                        <li class="nav-item navBarText">
                            <a class="nav-link text-white" id="PromoCodeSite" asp-controller="Admin" asp-action="PromoCode">Rabat koder</a>
                        </li>


                        <li class="nav-item navBarText">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Customer</a>
                        </li>

                    </ul>

                </div>

            
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footerLayout" class="layoutBox">
        <div id="footerBox" class="layoutBox">
            <div id="leftFooterBox" class="layoutBox">
                <img src="/Pics/logo_2016_footer.png" width="437" />
                <div id="textField" class="layoutBox">
                    <div id="textLeft" class="layoutBox">Annebergvej 55</div>
                    <div id="textLeft" class="layoutBox">DK-9000 Aalborg</div>
                    <div id="textLeft" class="layoutBox">Tlf.+ 45 98 13 13 11</div>
                    <div id="textLeft" class="layoutBox">sph@sportshojskolen.dk</div>
                </div>
            </div>
            @*<div id="rightFooterBox" class="layoutBox">
            <div id="footerSlogan" class="layoutBox">
            <img srcset="~/Pics/footer-slogan.png 2x" />
            </div>
            </div>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const links = document.querySelectorAll(".nav-link");
        //console.log(links);
        //console.log('@ViewContext.RouteData.Values["action"].ToString()');

        links.forEach(link => {
            if (link.href.includes('@ViewContext.RouteData.Values["action"].ToString()')) {
                link.style = "color: rgb(59, 146, 178) !important";
            }

        })
        if ('@ViewContext.RouteData.Values["action"].ToString()' == 'Index')
            links[0].style = "color: rgb(59, 146, 178) !important";
    </script>
</body>
</html>
