@using P3_Project.Models.Orders
@using System.Text;
@model Order

@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Bekræft Salg";
}

<h4>Bekræft Salg</h4>

<h5>Bekræft køb af genstande</h5>
<div>
    <table>
        <tbody class="confHeadTable">

            <style>
                td, tr{
                border-width: 1px;
                border-color: black;
                }
            </style>

            <tr>
                <td style="width: 10vw;">
                    ID
                </td>
                <td style="width: 10vw;">
                    Navn
                </td>
                <td style="width: 10vw;">
                    Antal
                </td>
                <td style="width: 10vw;">
                    Pris pr. stk. (DKK)
                </td>
                <td style="width: 10vw;">
                    Samlet pris (DKK)
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table style="margin-top: 10px">
        <tbody>
            <style>
                td{
                    width: 10vw;
                }
            </style>
            @{
                List<ItemSnapshot> itemSnapshots = new List<ItemSnapshot>();

                if(Model?.ShopUnits.Count() > 0)
                {
                    foreach (OrderShopUnit unit in Model.ShopUnits)
                    {
                        if (unit.ShopUnit is ItemSnapshot)
                        {

                            itemSnapshots.Add((ItemSnapshot)unit.ShopUnit);
                        }
                        else if(unit.ShopUnit is PackSnapShot)
                        {
                            break;
                        }
                    }
                }

                if(itemSnapshots.Count() > 0)
                {
                    int i = 0;
                    foreach (ItemSnapshot unit in itemSnapshots)
                    {
                        <tr>
                            <td>@unit.ItemId</td>
                            <td>@unit.Name | @unit.Color @unit.Size</td>
                            <td>@Model?.ShopUnits[i].Amount</td>
                            <td>@unit.Price</td>
                            <td style="background-color: var(--ash-blue)">@(unit.Price * Model.ShopUnits[i].Amount)</td>
                        </tr>
                        i++;
                        //Empty the array
                    }
                }
            }

        </tbody>
    </table>
</div>

<div>
    <table>
        <tbody>
            <style>
                td {
                width: 10vw;
                }
            </style>
            @{
                List<PackSnapShot> packSnapshots = new List<PackSnapShot>();

                if (Model?.ShopUnits.Count() > 0)
                {
                    int index = 0;
                    foreach (OrderShopUnit unit in Model.ShopUnits)
                    {
                        if (unit.ShopUnit is PackSnapShot)
                        {
                            PackSnapShot pack = (PackSnapShot)unit.ShopUnit;
                            <tr style="margin-top: 10px">
                                <td style="background-color: var(--ash-light-blue)">@pack.PackId</td>
                                <td style="background-color: var(--ash-light-blue)">@pack.Name</td>
                                <td style="background-color: var(--ash-light-blue)">@Model.ShopUnits[index].Amount</td>
                                <td style="background-color: var(--ash-light-blue)">@pack.Price</td>
                                <td style="background-color: var(--ash-light-blue)">@(pack.Price * Model.ShopUnits[index].Amount)</td>
                            </tr>

                            int next = 0;
                            while(Model.ShopUnits[index + next].ShopUnit is ItemSnapshot)
                            {
                                ItemSnapshot item = (ItemSnapshot)Model.ShopUnits[index + next].ShopUnit;

                                <tr>
                                    <td>@item.ItemId</td>
                                    <td>@item.Name | @item.Color @item.Size</td>
                                    <td>@Model?.ShopUnits[index + next].Amount</td>
                                    <td>@item.Price</td>
                                    <td style="background-color: var(--ash-blue)">@(item.Price * Model.ShopUnits[index + next].Amount)</td>
                                </tr>
                                next++;
                            }
                        }
                        index++;
                    }
                }
            }
            
        </tbody>
    </table>
</div>

<div class="center" style="display: inline; float: right">
    <button class="ASHButton">Afvis</button>
    <button class="ASHButton">Bekræft</button>
</div>