@using P3_Project.Models
@model PromoCode
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Rediger Rabat Kode";

	string before = "PriceBefore";
	string after = "PriceAfter";

	string isModel() {
		if(Model.Id == null)
			return "Opret Rabatkode";
		return "Redigér Rabatkode (" + Model.Id + ": " + Model.Code + ")";
	}
}


<style>
	#editPromoCodeContent {
		width: 100%;
		margin: auto;

	}
	.edit-field {
		display: flex;
		align-self: center;
		justify-content:space-between;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 5px;
	}

	.edit{
		display: flex;
		align-items: center;
		height: inherit;
		padding: 2px;
	}
	.promo-code-price {
		display: inline;
	}

	.edit > p {
		margin: 0px;
	}
</style>


<h1>@isModel()</h1>

<div id="editPromoCodeContent">
	<div class="edit-field box">
		<div class="edit">
			<p><b>Navn/Kode:</b> <input id="promo-code-code" value="@Model.Code"/></p>
		</div>
		<div class="edit">
			<p><b>Slutdato:</b> <input id="promo-code-date" type="date" value="@Model.ExpirationDate.ToString("yyyy-MM-dd")"/></p>
		</div>
	</div>
	<div class="edit-field box" style="justify-content:center">
		<div class="edit">
			<p><b>Rabat: </b> <input value="@Model.Value" style="text-align:right"/>
				<select>
					@{
						async Task AddOption(PromoCodeDiscountType type, string message) {
							if(Model.DiscountType == type){
								<option value="@((int)type)" selected> @message </option> 
							} else {
								<option value="@((int)type)"> @message </option> 
							}
						}
						AddOption(PromoCodeDiscountType.Percentage, "Procent (%)");
						AddOption(PromoCodeDiscountType.Fixed     , "Fastsat (kr.)");
					}
				</select>
			</p>
		</div>
	</div>
	<div class="edit-field box">
		<p><b>Indhold</b></p>
	</div>
</div>

<script>
</script>



