@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model P3_Project.Models.Item
<script>
    function createItem(event){
        let inputArea = event.target.parentElement;
        let color = inputArea.querySelector(".color").value;
        let size = inputArea.querySelector(".size").value;
        let itemModelElement = inputArea.closest(".itemModel");
        let id = itemModelElement.id;
        //let body = {
        //    "Color": color,
        //    "Size" : size,
        //    "ModelId": id.trim(),
        //}
        const data = new URLSearchParams(new FormData(event.target));

        fetch("CreateItem", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' ,
                'Color': color,
                'Size': size,
                'Id': id.trim(),
            },
            body : data,

        }).then(res => {
            console.log("Request complete! response:", res);
        });
        console.log(document.querySelector(".size").value);
    }


    function addItem(dom){
        let container = document.createElement("form");
        container.action = "CreateItem";
        container.method = "Post";

        let label = document.createElement("label");
        label.innerText = "Color";
        container.append(label);

        let colorInput = document.createElement("input");
        colorInput.classList = "color";
        colorInput.name = "Color";
        colorInput.required = true;

        container.append(colorInput);

        let sizeLabel = document.createElement("label");
        sizeLabel.innerText = "Size";

        container.append(sizeLabel);

        let sizeInput = document.createElement("input");
        sizeInput.classList= "size";
        sizeInput.name = "Size";
        sizeInput.required = true;

        container.append(sizeInput);


        let modelId = document.createElement("input");
        modelId.name = "ModelId";

        container.append(modelId);
        modelId.value = dom.parentElement.closest(".itemModel").id
        modelId.type = "hidden";
        //console.log(dom.parentElement.closest(".itemModel"));
        


        let button = document.createElement("input");
        button.type = "Submit";
        button.value= "Create";
        container.append(button);

        


        button.addEventListener("click",createItem);
        dom.parentElement.append(container);

        return;
    }
</script>

@foreach (ItemModel itemModel in ViewBag.itemModels)
{
    <a href="ItemShowCase?id=@(itemModel.Id)">
        <div style="border: solid" class="itemModel" id=" @itemModel.Id">

            <p class="modelId">id = @itemModel.Id</p>
            <p>modelName = @itemModel.ModelName</p> 
            <p>discription = @itemModel.Description</p>
            <a href="Delete?id=@itemModel.Id"> 
                <button >X</button>
            </a>
            <div style="border: solid">
            @try{
                @foreach (Item item in (List<Item>)itemModel.items)
                {
                        <p>Id = @item.Id</p>
                        <p>color = @item.Color</p>
                        <p>size = @item.Size</p>
                        <p>stock = @item.Stock</p>
                        <a href="IncreaseStock?Id=@item.Id&ModelId=@item.ModelId&Color=@item.Color&Stock=@item.Stock">
                            <button> + </button>
                        </a>
                        <a href="DecreaseStock?Id=@item.Id&ModelId=@item.ModelId&Color=@item.Color&Stock=@item.Stock">
                            <button> - </button>
                        </a>

                   
                }
            }
            catch{
                
            }
                <button onclick="addItem(this)"> Add item </button>
            </div>
        </div>
    </a>
    
}

<div style="border: solid">
    <a href="createItemModel">  
        <p>Create new!!</p>
    </a>
</div>

