@using P3_Project.Models

@model List<(int, string, int, string, string)>


@{
    ViewData["Title"] = "Pakker";
}
<h1>@ViewData["Title"]</h1>

<div class="mainIndexScale" > 
    <div class="box shopTagBox">
        Tags:

        

        @{

            foreach (Tag tag in Tag.GetAllTags())
            {
                <div>
                    <label>@tag.Name</label>
                    <input type="checkbox" id="@tag.Id" class="Clickable" onclick="ToggleTag(this)">
                </div>
            }
        }
                
        
    </div>

    <div class="grid-container">
        @foreach(var part in Model){
            <a style="color: black; text-decoration: none;" href="/Home/PackPicker?PackId=@part.Item1"  onclick="PackModelEdit(@part.Item1)" class="Clickable @part.Item5 ">

                    <div class="itemShowCase">
                        <div class="itemShowCasePic wrap">



                    <img class="picSize midImg" src="@(part.Item4 != "" ? Html.Raw(part.Item4) : Html.Raw("../favicon.ico"))" style="background-color: black;" />

                            
                        </div>
                        <div class="itemShowCaseName">

                            
                            <div>@part.Item2</div>
                            <div>Pris:@part.Item3 kr.-</div>
                        
                        </div>

                    </div>
                </a>
        }
        

    </div>
</div>

<script>
    function PackModelEdit(id) { window.location.href = "/Home/PackPicker?PackId=" + id; }


    const tagList = [];
    const itemContainer = document.querySelector(".grid-container");
    const items = itemContainer.children;
    function ToggleTag(dom) {
        const text = dom.previousElementSibling.innerText;
        if (dom.checked) {
            tagList.push(text);
        }
        else {
            tagList.splice(tagList.indexOf(text), 1);
        }
        //console.log(tagList)



        if (tagList.length > 0) {
            let searchString = "\\s?(";
            tagList.forEach(name => {
                searchString += name + "\\s|";
            })
            searchString = searchString.slice(0, -1);
            searchString += ")"//{" + tagList.length + "}";


            const regex = new RegExp(searchString, "gm");

            console.log(searchString);
            //console.log(items)
            for (item of items) {
                //console.log(item)
                //console.log(item.classList.value)
                //console.log(item.classList.value.match(regex))

                if (item.classList.value.match(regex)?.length != tagList.length) {
                    item.style.display = "none";
                }
                else {
                    item.style.display = "";
                }
            }
        }
        else {
            for (item of items) {
                item.style.display = "";
            }
        }


        //\s((test\s+|test1\s+|test2\s+)){3}

    }

</script>
